body {

}
.container {
  display: flex;
  gap: 10px;

}
textarea{
    width:210px;
    height:50px;
}
button {
  width: 80px;
  height: 25px;
  border-radius: 5px;
  border: 0;
  margin-top:10px;
  position:absolute;
  left:350px;
}
div{
    position:relative;
}
